[flake8]
show-source=true
statistics=true
max-line-length = 80
per-file-ignores =
    # line too long
    egs/librispeech/ASR/*/conformer.py: E501,
    egs/aishell/ASR/*/conformer.py: E501,

exclude =
  .git,
  **/data/**,
  icefall/shared/make_kn_lm.py
