icefall.egg-info/
data
__pycache__
path.sh
exp
exp*/
*.pt
download
dask-worker-space
log
*.bak
*-bak
*bak.py

# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# ignore .nfs

.nfs*

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

*.param
*.bin
.DS_Store
*.fst
*.arpa
