--find-links https://k2-fsa.github.io/icefall/piper_phonemize.html

torch
torchaudio
huggingface_hub
lhotse
safetensors
vocos

# Normalization
cn2an
inflect

# Tokenization
jieba
piper_phonemize
pypinyin
